<div class="page-width" data-adress data-plan-step="3" style="display:none;">
    <header class="address-header">
      <div class="page-width">
          <div class="grid">
              <div class="grid__item medium-up--two-twelfths one-half">
                  <div class="header-logo">
                      <a href="#"><img src="//cdn.shopify.com/s/files/1/1762/2215/files/logo-black.png"></a>
                  </div>
              </div>
              <div class="grid__item medium-up--eight-twelfths hide medium-up--show">
                  <div class="progress">
                      <h6>Menu Header</h6>
                      <button data-back-btn>BACK</button>
                      <ul>
                          <li class="active">Select Plan</li>
                          <li class="active">Register</li>
                          <li class="active">Address</li>
                          <li>Checkout</li>
                      </ul>
                  </div>
              </div>
              <div class="grid__item medium-up--two-twelfths one-half">
                  <div class="menu-trigger">
                      <a href="#"><img src="//cdn.shopify.com/s/files/1/1762/2215/files/menu.svg"></a>
                  </div>
              </div>
              <div class="grid__item show medium-up--hide">
                  <div class="progress">
                      <h6>Menu Header</h6>
                      <button data-back-btn>BACK</button>
                      <ul>
                          <li class="active">Select Plan</li>
                          <li class="active">Register</li>
                          <li class="active">Address</li>
                          <li>Checkout</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  
      <nav class="navigation">
          <a href="#" class="close-nav"><img src="//cdn.shopify.com/s/files/1/1762/2215/files/cross-icon.svg" style="width: 22px;"></a>
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
          </ul>
      </nav>
  
  </header>
  
  <div class="page-width">
      <div class="grid delivery-section">
  
          <div class="grid__item large-up--seven-twelfths">
              <div class="delivery-details">
  
                  <h4 class="font-weight-600">Delivery Details</h4>
  
                  <div class="text-center delivery-note">
                      <img src="//cdn.shopify.com/s/files/1/1762/2215/files/delivery-truck.svg" class="mx-auto" style="max-width: 55px;">
                      <p>Local Delivery</p>
                  </div>
  
                  <p>Enter your postal code into the field below to check if you are eligible for local delivery:</p>
                  <form class="search-form">
                      <input type="text">
                      <button><img src="//cdn.shopify.com/s/files/1/1762/2215/files/search-icon.svg" style="width: 22px;"></button>
                  </form>
                  <p></p>
  
                  <div class="datepicker">
                      <label>Delivery Date</label>
                      <input type="text" id="datepicker">
                  </div>
                  <div class="datepicker">
                      <label>Delivery Time</label>
                      <input type="text" id="timepicker">
                  </div>
                  <div class="datepicker">
                      <label>Delivery Instructions</label>
                      <select>
                          <option>Leave with concierge</option>
                          <option>Leave with concierge</option>
                          <option>Leave with concierge</option>
                          <option>Leave with concierge</option>
                          <option>Leave with concierge</option>
                      </select>
                  </div>
  
                  <div class="grid">
                      <div class="grid__item medium-up--one-half">
                          <div class="delivery-info d-flex align-items-center">
                              <span>
                                  <img src="//cdn.shopify.com/s/files/1/1762/2215/files/images_1.png" style="width: 68px;">
                              </span>
                              <div>
                                  <h6>Contactless Delivery</h6>
                                  <p>Boxes are delivered fast and safe</p>
                              </div>
                          </div>
                      </div>
                      <div class="grid__item medium-up--one-half">
                          <div class="delivery-info d-flex align-items-center">
                              <span>
                                  <img src="//cdn.shopify.com/s/files/1/1762/2215/files/images_1.png" style="width: 68px;">
                              </span>
                              <div>
                                  <h6>Contactless Delivery</h6>
                                  <p>Boxes are delivered fast and safe</p>
                              </div>
                          </div>
                      </div>
                  </div>
  
              </div>
          </div>
  
          <div class="grid__item large-up--five-twelfths">
              <div class="delivery-sidebar">
                  <h4 class="font-weight-600">Order Summery</h4>
                  <div class="coupon">
                      <p>Got a discount code?</p>
                      <form class="discount-form d-flex">
                          <input type="text">
                          <button><img src="//cdn.shopify.com/s/files/1/1762/2215/files/check.svg" style="width: 22px;"></button>
                      </form>
                      <span>Your discount has been applied!</span>
                  </div>
  
                  <div class="plan-section">
                      <div class="plan-item">
                          <div class="d-flex align-items-center">
                              <div>
                                  <h5>Weekly Meal plan <a href="#">Edit</a></h5>
                                  <h5>(Subscription)</h5>
                                  <span>Meals per week</span>
                              </div>
                              <p class="font-weight-500">$120.00</p>
                          </div>
                      </div>
  
                      <div class="plan-item">
                          <div class="d-flex align-items-center">
                              <div>
                                  <h5>Meals selected: <a href="#">Edit</a></h5>
                                  <ul>
                                      <li>3 X The Build</li>
                                      <li>2 X The Fiesta</li>
                                      <li>1 X The Balance</li>
                                      <li>1 X The Caesar</li>
                                  </ul>
                              </div>
                              <p class="font-weight-500">$120.00</p>
                          </div>
                      </div>
  
                      <div class="plan-item">
                          <div class="d-flex align-items-center">
                              <div>
                                  <h5>Add-Ons: <a href="#">Edit</a></h5>
                                  <ul>
                                      <li>2 X Snack Bar</li>
                                      <li>1 X Kombucha</li>
                                      <li>2 X Coffee</li>
                                  </ul>
                              </div>
                              <p class="font-weight-500">$120.00</p>
                          </div>
                      </div>
  
                      <div class="plan-item">
                          <div class="d-flex align-items-center">
                              <div>
                                  <h5>Shipping</h5>
                              </div>
                              <p class="mb-0 font-weight-500">FREE</p>
                          </div>
                      </div>
  
                      <div class="plan-item">
                          <div class="d-flex align-items-center">
                              <div>
                                  <h5>First Delivery Discount</h5>
                              </div>
                              <p class="mb-0 text-success font-weight-500">-$30.00</p>
                          </div>
                      </div>
  
                      <div class="plan-item total-section">
                          <div class="d-flex align-items-center">
                              <div>
                                  <h5>Total</h5>
                              </div>
                              <p class="mb-0 font-weight-500"><del>$144.00</del> <span class="text-success">$114.00</span></p>
                          </div>
                      </div>
                  </div>
  
              </div>
  
              <div class="form-action text-center">
                  <button class="btn--large btn">Checkout</button>
                  <p class="mb-0">We prepare, chill, and pack right before each day's shipment to ensure you get the freshest meals possible.</p>
              </div>
  
          </div>
  
      </div>
  </div>
  </div>