{% section 'collection-custom-template' %}

<style>
  .eui-widget-title {
    display: none !important;
}
</style>

<section class="custom" data-section-type="custom" data-section-id="custom-mealplan" style="background: #fff;color: #1c1d1d;padding: 80px 0;">
  <div class="max-site-width">
    <div class="grid">

      <h2 style="text-align:center;">
        What our customers say
      </h2>

      <div class="grid__item lg--up--one-whole">
        <div class="px2 lg--up--px0">
          <div class="elfsight-sapp-7f8822b0-ea39-11e9-a0a8-b98ee8a37f9d eapps-testimonials-slider eapps-testimonials-slider-layout-slider eapps-testimonials-slider-post-template-tiled-balloon" id="eapps-testimonials-slider-1"><div class="eapps-testimonials-slider-container">
            <div class="eapps-testimonials-slider-inner">




        <div class="eapps-testimonials-slider-items" eapps-link="content"><div class="eapps-testimonials-slider-slider eui-slider" eapps-link="slider" style="max-height: 417px;">
    <div class="eapps-testimonials-slider-slider-container">
        <div class="eapps-testimonials-slider-slider-inner eapps-testimonials-slider-inner eui-slider-inner" eapps-link="items" style="transform: translate3d(-100%, 0px, 0px); transition-duration: 0ms;"><div class="eapps-testimonials-slider-page eapps-testimonials-slider-slider-item eui-slider-slide eui-slider-slide-clone"><div class="eapps-testimonials-slider-page-item-small-balloon eapps-testimonials-slider-page-item post-breakpoint-280" style="width: calc(25% - 32px); margin: 24px 16px;">
    
        <div class="eapps-testimonials-slider-page-item-text" eapps-link="text">
            
                <div class="eapps-testimonials-slider-page-item-rating-container" eapps-link="rating"><div class="eapps-testimonials-slider-page-item-rating">
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
</div></div>
            
        <div class="eapps-testimonials-slider-page-item-text-shorter-container"><span class="eapps-testimonials-slider-page-item-text-shorter">Great salad, lots of varieties to choose from. There is a salad for everyone. I trust BIO RAW to provide a delicious healthy meal when I am on the go. Their customer service is amazing, extremely responsive when I place an order. I had a few ingredient questions and their customer service was extremely reassuring and above all else, passionate about healthy food! They can deliver right to your door which is super convenient!</span><span class="eapps-testimonials-slider-page-item-text-read-more">Read more</span></div></div>
    

    
        <div class="eapps-testimonials-slider-page-item-author-container">
            
                <div class="eapps-testimonials-slider-page-item-author-picture-container">
                    <img src="https://files.elfsight.com/storage/4944cbdb-f550-47cf-8cad-eb97cb853d98/60a1d3ff-972f-4235-928c-b3a00e615b1f.jpeg" class="eapps-testimonials-slider-page-item-author-picture" eapps-link="picture">
                </div>
            

            
                <div class="eapps-testimonials-slider-page-item-author" eapps-link="author"><div class="eapps-testimonials-slider-page-item-author-info">
    
        
            <a class="eapps-testimonials-slider-page-item-author-info-name-link" href="https://www.facebook.com/jordyn.laor?__tn__=%2CdlC-R-R&amp;eid=ARCUuOFltzlQCh4Q0l8VNV0qJw6I5h66Te-W5Vx1NDk38Jq1YL_XT-2zohNeb8DWFnYz7-XGUU3PI3UP&amp;hc_ref=ARRosuBOFgsu9hMT6FhEHjNLoKrx7ydW0Ske7e2EzjYzDjqS6Dmf2Ewu8Gi8V_5iV4k" rel="nofollow" title="https://www.facebook.com/jordyn.laor?__tn__=%2CdlC-R-R&amp;eid=ARCUuOFltzlQCh4Q0l8VNV0qJw6I5h66Te-W5Vx1NDk38Jq1YL_XT-2zohNeb8DWFnYz7-XGUU3PI3UP&amp;hc_ref=ARRosuBOFgsu9hMT6FhEHjNLoKrx7ydW0Ske7e2EzjYzDjqS6Dmf2Ewu8Gi8V_5iV4k" target="_blank">
        
                <span class="eapps-testimonials-slider-page-item-author-info-name">Jordyn Laor</span>
        
                <span class="eapps-testimonials-slider-page-item-author-info-name-link-icon-facebook eapps-testimonials-slider-page-item-author-info-name-link-icon"></span>
            </a>
        
    

    

    
            
    
</div></div>
            
        </div>
    

</div><div class="eapps-testimonials-slider-page-item-small-balloon eapps-testimonials-slider-page-item post-breakpoint-280" style="width: calc(25% - 32px); margin: 24px 16px;">
    
        <div class="eapps-testimonials-slider-page-item-text" eapps-link="text">
            
                <div class="eapps-testimonials-slider-page-item-rating-container" eapps-link="rating"><div class="eapps-testimonials-slider-page-item-rating">
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
</div></div>
            
        <div class="eapps-testimonials-slider-page-item-text-shorter-container"><span class="eapps-testimonials-slider-page-item-text-shorter">Delicious and nutritious salads that I would definitely recommend. I ordered the Sampler twice in a row, trying all 7 salads. I narrowed my favourites ones down to 5 and ordered those again. Placed 3 orders in a month. Helped me to easily lose 10 lbs to reach my goal. I've recommended them to co-workers and I will definitely place more orders in the near future. Also, another benefit was not having to cook or clean the kitchen&nbsp;😂&nbsp;Thanks Bio Raw!&nbsp;♥️🌱</span><span class="eapps-testimonials-slider-page-item-text-read-more">Read more</span></div></div>
    

    
        <div class="eapps-testimonials-slider-page-item-author-container">
            
                <div class="eapps-testimonials-slider-page-item-author-picture-container">
                    <img src="https://files.elfsight.com/storage/4944cbdb-f550-47cf-8cad-eb97cb853d98/acbcaf27-0619-4121-ad20-c2f0ad1e2b1d.jpeg" class="eapps-testimonials-slider-page-item-author-picture" eapps-link="picture">
                </div>
            

            
                <div class="eapps-testimonials-slider-page-item-author" eapps-link="author"><div class="eapps-testimonials-slider-page-item-author-info">
    
        
            <a class="eapps-testimonials-slider-page-item-author-info-name-link" href="https://www.facebook.com/dauclair435?__tn__=%2CdlC-R-R&amp;eid=ARDa-tX-Wx41J5aIuzPFzZpF92A3Zo3ew3Y2tlKHrnWKZBcbEXVq-354whXZTmyuu-voR-ogdYkYJyGm&amp;hc_ref=ARQ3IHq2wBZabe1FqMQco6Lvku313t_Pmn09aDqd-cFswrEZk4l3A7t7c33nplcJyK0" rel="nofollow" title="https://www.facebook.com/dauclair435?__tn__=%2CdlC-R-R&amp;eid=ARDa-tX-Wx41J5aIuzPFzZpF92A3Zo3ew3Y2tlKHrnWKZBcbEXVq-354whXZTmyuu-voR-ogdYkYJyGm&amp;hc_ref=ARQ3IHq2wBZabe1FqMQco6Lvku313t_Pmn09aDqd-cFswrEZk4l3A7t7c33nplcJyK0" target="_blank">
        
                <span class="eapps-testimonials-slider-page-item-author-info-name">Debbie Lynn</span>
        
                <span class="eapps-testimonials-slider-page-item-author-info-name-link-icon-vk eapps-testimonials-slider-page-item-author-info-name-link-icon"></span>
            </a>
        
    

    

    
            
    
</div></div>
            
        </div>
    

</div><div class="eapps-testimonials-slider-page-item-small-balloon eapps-testimonials-slider-page-item post-breakpoint-280" style="width: calc(25% - 32px); margin: 24px 16px;">
    
        <div class="eapps-testimonials-slider-page-item-text" eapps-link="text">
            
                <div class="eapps-testimonials-slider-page-item-rating-container" eapps-link="rating"><div class="eapps-testimonials-slider-page-item-rating">
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
</div></div>
            
        <div class="eapps-testimonials-slider-page-item-text-shorter-container"><span class="eapps-testimonials-slider-page-item-text-shorter">My favourite of all time meals and meal delivery</span><span class="eapps-testimonials-slider-page-item-text-read-more">Read more</span></div></div>
    

    
        <div class="eapps-testimonials-slider-page-item-author-container">
            
                <div class="eapps-testimonials-slider-page-item-author-picture-container">
                    <img src="https://files.elfsight.com/storage/4944cbdb-f550-47cf-8cad-eb97cb853d98/3099a266-1541-4e44-ae3b-a73b2331a112.png" class="eapps-testimonials-slider-page-item-author-picture" eapps-link="picture">
                </div>
            

            
                <div class="eapps-testimonials-slider-page-item-author" eapps-link="author"><div class="eapps-testimonials-slider-page-item-author-info">
    
        
            <a class="eapps-testimonials-slider-page-item-author-info-name-link" href="https://www.google.com/maps/contrib/100685381744503456327/reviews?hl=en-CA&amp;sa=X&amp;ved=2ahUKEwj574e0g5rlAhXDqZ4KHfRAB6cQvvQBegQIARA1" rel="nofollow" title="https://www.google.com/maps/contrib/100685381744503456327/reviews?hl=en-CA&amp;sa=X&amp;ved=2ahUKEwj574e0g5rlAhXDqZ4KHfRAB6cQvvQBegQIARA1" target="_blank">
        
                <span class="eapps-testimonials-slider-page-item-author-info-name">Jully Black</span>
        
                <span class="eapps-testimonials-slider-page-item-author-info-name-link-icon-undefined eapps-testimonials-slider-page-item-author-info-name-link-icon"></span>
            </a>
        
    

    

    
            
    
</div></div>
            
        </div>
    

</div><div class="eapps-testimonials-slider-page-item-small-balloon eapps-testimonials-slider-page-item post-breakpoint-280" style="width: calc(25% - 32px); margin: 24px 16px;">
    
        <div class="eapps-testimonials-slider-page-item-text" eapps-link="text">
            
                <div class="eapps-testimonials-slider-page-item-rating-container" eapps-link="rating"><div class="eapps-testimonials-slider-page-item-rating">
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
</div></div>
            
        <div class="eapps-testimonials-slider-page-item-text-shorter-container"><span class="eapps-testimonials-slider-page-item-text-shorter">BIORAW salads and bowls are seriously addictive. I order them weekly. The company offers free delivery both to home and office and I can say with genuine honesty that i feel AMAZING since I've started eating them. I am energized, losing weight and feel healthier than I ever have! They are so delicious that I literally cannot wait until my next meal so I can eat another one!</span><span class="eapps-testimonials-slider-page-item-text-read-more">Read more</span></div></div>
    

    
        <div class="eapps-testimonials-slider-page-item-author-container">
            
                <div class="eapps-testimonials-slider-page-item-author-picture-container">
                    <img src="https://files.elfsight.com/storage/4944cbdb-f550-47cf-8cad-eb97cb853d98/f87c157f-f264-4807-9ab1-64ee1c9f1b9f.jpeg" class="eapps-testimonials-slider-page-item-author-picture" eapps-link="picture">
                </div>
            

            
                <div class="eapps-testimonials-slider-page-item-author" eapps-link="author"><div class="eapps-testimonials-slider-page-item-author-info">
    
        
            <a class="eapps-testimonials-slider-page-item-author-info-name-link" href="https://www.facebook.com/tara.resnick?__tn__=%2CdlC-R-R&amp;eid=ARBklmOSN9565XinJhF987RZnaRiF1_X_6AeWQKW1EylUriw_PdRCK5SWYUjUZslWnlJqCA7XnFCa_J0&amp;hc_ref=ARTQK-owLurvHZyjKkBRC-RA0PkXBCSRZiqY263LmmGmTfviObQS9ccVEJoyIzRZCBs" rel="nofollow" title="https://www.facebook.com/tara.resnick?__tn__=%2CdlC-R-R&amp;eid=ARBklmOSN9565XinJhF987RZnaRiF1_X_6AeWQKW1EylUriw_PdRCK5SWYUjUZslWnlJqCA7XnFCa_J0&amp;hc_ref=ARTQK-owLurvHZyjKkBRC-RA0PkXBCSRZiqY263LmmGmTfviObQS9ccVEJoyIzRZCBs" target="_blank">
        
                <span class="eapps-testimonials-slider-page-item-author-info-name">Tara Resnick</span>
        
                <span class="eapps-testimonials-slider-page-item-author-info-name-link-icon-facebook eapps-testimonials-slider-page-item-author-info-name-link-icon"></span>
            </a>
        
    

    

    
            
    
</div></div>
            
        </div>
    

</div></div><div class="eapps-testimonials-slider-page eapps-testimonials-slider-slider-item eui-slider-slide"><div class="eapps-testimonials-slider-page-item-small-balloon eapps-testimonials-slider-page-item post-breakpoint-280 eapps-testimonials-slider-page-item-image-portrait" style="width: calc(25% - 32px); margin: 24px 16px;">
    
        <div class="eapps-testimonials-slider-page-item-text" eapps-link="text">
            
                <div class="eapps-testimonials-slider-page-item-rating-container" eapps-link="rating"><div class="eapps-testimonials-slider-page-item-rating">
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
</div></div>
            
        <div class="eapps-testimonials-slider-page-item-text-shorter-container"><span class="eapps-testimonials-slider-page-item-text-shorter" style="height: 120px;">Love these bowls - they're super convenient, organic, nutrient-dense, and delicious. Everything about these salads and their service is so thoughtful and above and beyond - If I could give them more than 5 stars I would!</span><span class="eapps-testimonials-slider-page-item-text-read-more">Read more</span></div></div>
    

    
        <div class="eapps-testimonials-slider-page-item-author-container">
            
                <div class="eapps-testimonials-slider-page-item-author-picture-container">
                    <img src="https://files.elfsight.com/storage/4944cbdb-f550-47cf-8cad-eb97cb853d98/56d20b13-a57f-4f2f-a2c7-08210815209d.jpeg" class="eapps-testimonials-slider-page-item-author-picture" eapps-link="picture">
                </div>
            

            
                <div class="eapps-testimonials-slider-page-item-author" eapps-link="author"><div class="eapps-testimonials-slider-page-item-author-info">
    
        
            <a class="eapps-testimonials-slider-page-item-author-info-name-link" href="https://www.facebook.com/thatsmegtastic?__tn__=%2CdlC-R-R&amp;eid=ARAM17_WmTGUghMFOmCE0qiqJMJ_0fOCWzCZtfHRDXLK0-v0vghMvW5xUwf1LxJftkPWzUkuh4LvcvGV&amp;hc_ref=ARRh_H9njITHAbymkBCG3lwhCWaVfqCGURHlOalfL-9NhIs-7J70QAnEL6aoiOR5Ig8" rel="nofollow" title="https://www.facebook.com/thatsmegtastic?__tn__=%2CdlC-R-R&amp;eid=ARAM17_WmTGUghMFOmCE0qiqJMJ_0fOCWzCZtfHRDXLK0-v0vghMvW5xUwf1LxJftkPWzUkuh4LvcvGV&amp;hc_ref=ARRh_H9njITHAbymkBCG3lwhCWaVfqCGURHlOalfL-9NhIs-7J70QAnEL6aoiOR5Ig8" target="_blank">
        
                <span class="eapps-testimonials-slider-page-item-author-info-name">Megan Khosroshahi</span>
        
                <span class="eapps-testimonials-slider-page-item-author-info-name-link-icon-facebook eapps-testimonials-slider-page-item-author-info-name-link-icon"></span>
            </a>
        
    

    

    
            
    
</div></div>
            
        </div>
    

</div><div class="eapps-testimonials-slider-page-item-small-balloon eapps-testimonials-slider-page-item post-breakpoint-280 eapps-testimonials-slider-page-item-image-portrait" style="width: calc(25% - 32px); margin: 24px 16px;">
    
        <div class="eapps-testimonials-slider-page-item-text" eapps-link="text">
            
                <div class="eapps-testimonials-slider-page-item-rating-container" eapps-link="rating"><div class="eapps-testimonials-slider-page-item-rating">
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
</div></div>
            
        <div class="eapps-testimonials-slider-page-item-text-shorter-container"><span class="eapps-testimonials-slider-page-item-text-shorter" style="height: 120px;">Bio Raw salads are incredible, and the delivery option is an added bonus! I’m hooked! Also love the convenience for travel, as I always travel with my food. Thank you Bio Raw for serving up healthy in such an amazing and tasty way!</span><span class="eapps-testimonials-slider-page-item-text-read-more">Read more</span></div></div>
    

    
        <div class="eapps-testimonials-slider-page-item-author-container">
            
                <div class="eapps-testimonials-slider-page-item-author-picture-container">
                    <img src="https://files.elfsight.com/storage/4944cbdb-f550-47cf-8cad-eb97cb853d98/4e0abb90-c661-498c-bdea-ee5a41515747.png" class="eapps-testimonials-slider-page-item-author-picture" eapps-link="picture">
                </div>
            

            
                <div class="eapps-testimonials-slider-page-item-author" eapps-link="author"><div class="eapps-testimonials-slider-page-item-author-info">
    
        
            <a class="eapps-testimonials-slider-page-item-author-info-name-link" href="https://www.google.com/maps/contrib/100659870094329296406/reviews?hl=en-CA&amp;sa=X&amp;ved=2ahUKEwjvyMaDg5rlAhWCpZ4KHaYXBygQvvQBegQIARBe" rel="nofollow" title="https://www.google.com/maps/contrib/100659870094329296406/reviews?hl=en-CA&amp;sa=X&amp;ved=2ahUKEwjvyMaDg5rlAhWCpZ4KHaYXBygQvvQBegQIARBe" target="_blank">
        
                <span class="eapps-testimonials-slider-page-item-author-info-name">Nkechi Nwafor-Robinson</span>
        
                <span class="eapps-testimonials-slider-page-item-author-info-name-link-icon-undefined eapps-testimonials-slider-page-item-author-info-name-link-icon"></span>
            </a>
        
    

    

    
            
    
</div></div>
            
        </div>
    

</div><div class="eapps-testimonials-slider-page-item-small-balloon eapps-testimonials-slider-page-item post-breakpoint-280 eapps-testimonials-slider-page-item-image-portrait" style="width: calc(25% - 32px); margin: 24px 16px;">
    
        <div class="eapps-testimonials-slider-page-item-text" eapps-link="text">
            
                <div class="eapps-testimonials-slider-page-item-rating-container" eapps-link="rating"><div class="eapps-testimonials-slider-page-item-rating">
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
</div></div>
            
        <div class="eapps-testimonials-slider-page-item-text-shorter-container"><span class="eapps-testimonials-slider-page-item-text-shorter" style="height: 120px;">Myself and the people I work with are ordering so many salads a week from BIORAW and everyone is hooked!</span><span class="eapps-testimonials-slider-page-item-text-read-more">Read more</span></div></div>
    

    
        <div class="eapps-testimonials-slider-page-item-author-container">
            
                <div class="eapps-testimonials-slider-page-item-author-picture-container">
                    <img src="https://files.elfsight.com/storage/4944cbdb-f550-47cf-8cad-eb97cb853d98/c9cc87ca-4666-493d-8193-4c1b5cdceafb.jpeg" class="eapps-testimonials-slider-page-item-author-picture" eapps-link="picture">
                </div>
            

            
                <div class="eapps-testimonials-slider-page-item-author" eapps-link="author"><div class="eapps-testimonials-slider-page-item-author-info">
    
        
            <a class="eapps-testimonials-slider-page-item-author-info-name-link" href="https://www.facebook.com/donny.rose?__tn__=%2CdlC-R-R&amp;eid=ARCBf6dgUeGCbKCgJZRVbxSIqFeL43skNKLXlxo5aDFzTKAv6SqSKf3a0V5p7Jp2RRoKCCfs0z3Kd6Bg&amp;hc_ref=ARTuzsPbNFVPh8IUn0nGzJrco_WCHQ-eyvXVYthacmhbwPUUhpy9flU0-qFRRYIGgmQ" rel="nofollow" title="https://www.facebook.com/donny.rose?__tn__=%2CdlC-R-R&amp;eid=ARCBf6dgUeGCbKCgJZRVbxSIqFeL43skNKLXlxo5aDFzTKAv6SqSKf3a0V5p7Jp2RRoKCCfs0z3Kd6Bg&amp;hc_ref=ARTuzsPbNFVPh8IUn0nGzJrco_WCHQ-eyvXVYthacmhbwPUUhpy9flU0-qFRRYIGgmQ" target="_blank">
        
                <span class="eapps-testimonials-slider-page-item-author-info-name">Donny Rose</span>
        
                <span class="eapps-testimonials-slider-page-item-author-info-name-link-icon-facebook eapps-testimonials-slider-page-item-author-info-name-link-icon"></span>
            </a>
        
    

    

    
            
    
</div></div>
            
        </div>
    

</div><div class="eapps-testimonials-slider-page-item-small-balloon eapps-testimonials-slider-page-item post-breakpoint-280 eapps-testimonials-slider-page-item-image-portrait" style="width: calc(25% - 32px); margin: 24px 16px;">
    
        <div class="eapps-testimonials-slider-page-item-text" eapps-link="text">
            
                <div class="eapps-testimonials-slider-page-item-rating-container" eapps-link="rating"><div class="eapps-testimonials-slider-page-item-rating">
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
</div></div>
            
        <div class="eapps-testimonials-slider-page-item-text-shorter-container"><span class="eapps-testimonials-slider-page-item-text-shorter" style="height: 120px;">Salads are the best I've had. They are fresh, crisp and clean. They don't have that funny smell that some prepackaged salads have, so you know there isn't that weird pre-washed chemical or preservative or whatever it is that most companies use on their prepackaged salads. It is delicious and the variety is great. Also, like the fact that the plastic container it comes in is compostable. So I order the salads without feeling guilty that I'm adding to the world's plastic dilemma. I'm healthy and the earth is a better place. I only wish that all companies and businesses would follow BioRaw's example of responsibility to our planet. You can have a successful business based on integrity.&nbsp;</span><span class="eapps-testimonials-slider-page-item-text-read-more">Read more</span></div></div>
    

    
        <div class="eapps-testimonials-slider-page-item-author-container">
            
                <div class="eapps-testimonials-slider-page-item-author-picture-container">
                    <img src="https://files.elfsight.com/storage/4944cbdb-f550-47cf-8cad-eb97cb853d98/dc0f9f73-3d00-4cf8-9f52-b73a73bbbde7.png" class="eapps-testimonials-slider-page-item-author-picture" eapps-link="picture">
                </div>
            

            
                <div class="eapps-testimonials-slider-page-item-author" eapps-link="author"><div class="eapps-testimonials-slider-page-item-author-info">
    
        
            <a class="eapps-testimonials-slider-page-item-author-info-name-link" href="https://www.google.com/maps/contrib/108231543824182291737/reviews?hl=en-CA&amp;sa=X&amp;ved=2ahUKEwj574e0g5rlAhXDqZ4KHfRAB6cQvvQBegQIARA8" rel="nofollow" title="https://www.google.com/maps/contrib/108231543824182291737/reviews?hl=en-CA&amp;sa=X&amp;ved=2ahUKEwj574e0g5rlAhXDqZ4KHfRAB6cQvvQBegQIARA8" target="_blank">
        
                <span class="eapps-testimonials-slider-page-item-author-info-name">R Tso</span>
        
                <span class="eapps-testimonials-slider-page-item-author-info-name-link-icon-undefined eapps-testimonials-slider-page-item-author-info-name-link-icon"></span>
            </a>
        
    

    
        <div class="eapps-testimonials-slider-page-item-author-info-caption">Local Guide</div>
    

    
            
    
</div></div>
            
        </div>
    

</div></div><div class="eapps-testimonials-slider-page eapps-testimonials-slider-slider-item eui-slider-slide"><div class="eapps-testimonials-slider-page-item-small-balloon eapps-testimonials-slider-page-item post-breakpoint-280 eapps-testimonials-slider-page-item-image-portrait" style="width: calc(25% - 32px); margin: 24px 16px;">
    
        <div class="eapps-testimonials-slider-page-item-text" eapps-link="text">
            
                <div class="eapps-testimonials-slider-page-item-rating-container" eapps-link="rating"><div class="eapps-testimonials-slider-page-item-rating">
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
</div></div>
            
        <div class="eapps-testimonials-slider-page-item-text-shorter-container"><span class="eapps-testimonials-slider-page-item-text-shorter" style="height: 120px;">Great salad, lots of varieties to choose from. There is a salad for everyone. I trust BIO RAW to provide a delicious healthy meal when I am on the go. Their customer service is amazing, extremely responsive when I place an order. I had a few ingredient questions and their customer service was extremely reassuring and above all else, passionate about healthy food! They can deliver right to your door which is super convenient!</span><span class="eapps-testimonials-slider-page-item-text-read-more">Read more</span></div></div>
    

    
        <div class="eapps-testimonials-slider-page-item-author-container">
            
                <div class="eapps-testimonials-slider-page-item-author-picture-container">
                    <img src="https://files.elfsight.com/storage/4944cbdb-f550-47cf-8cad-eb97cb853d98/60a1d3ff-972f-4235-928c-b3a00e615b1f.jpeg" class="eapps-testimonials-slider-page-item-author-picture" eapps-link="picture">
                </div>
            

            
                <div class="eapps-testimonials-slider-page-item-author" eapps-link="author"><div class="eapps-testimonials-slider-page-item-author-info">
    
        
            <a class="eapps-testimonials-slider-page-item-author-info-name-link" href="https://www.facebook.com/jordyn.laor?__tn__=%2CdlC-R-R&amp;eid=ARCUuOFltzlQCh4Q0l8VNV0qJw6I5h66Te-W5Vx1NDk38Jq1YL_XT-2zohNeb8DWFnYz7-XGUU3PI3UP&amp;hc_ref=ARRosuBOFgsu9hMT6FhEHjNLoKrx7ydW0Ske7e2EzjYzDjqS6Dmf2Ewu8Gi8V_5iV4k" rel="nofollow" title="https://www.facebook.com/jordyn.laor?__tn__=%2CdlC-R-R&amp;eid=ARCUuOFltzlQCh4Q0l8VNV0qJw6I5h66Te-W5Vx1NDk38Jq1YL_XT-2zohNeb8DWFnYz7-XGUU3PI3UP&amp;hc_ref=ARRosuBOFgsu9hMT6FhEHjNLoKrx7ydW0Ske7e2EzjYzDjqS6Dmf2Ewu8Gi8V_5iV4k" target="_blank">
        
                <span class="eapps-testimonials-slider-page-item-author-info-name">Jordyn Laor</span>
        
                <span class="eapps-testimonials-slider-page-item-author-info-name-link-icon-facebook eapps-testimonials-slider-page-item-author-info-name-link-icon"></span>
            </a>
        
    

    

    
            
    
</div></div>
            
        </div>
    

</div><div class="eapps-testimonials-slider-page-item-small-balloon eapps-testimonials-slider-page-item post-breakpoint-280 eapps-testimonials-slider-page-item-image-portrait" style="width: calc(25% - 32px); margin: 24px 16px;">
    
        <div class="eapps-testimonials-slider-page-item-text" eapps-link="text">
            
                <div class="eapps-testimonials-slider-page-item-rating-container" eapps-link="rating"><div class="eapps-testimonials-slider-page-item-rating">
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
</div></div>
            
        <div class="eapps-testimonials-slider-page-item-text-shorter-container"><span class="eapps-testimonials-slider-page-item-text-shorter" style="height: 120px;">Delicious and nutritious salads that I would definitely recommend. I ordered the Sampler twice in a row, trying all 7 salads. I narrowed my favourites ones down to 5 and ordered those again. Placed 3 orders in a month. Helped me to easily lose 10 lbs to reach my goal. I've recommended them to co-workers and I will definitely place more orders in the near future. Also, another benefit was not having to cook or clean the kitchen&nbsp;😂&nbsp;Thanks Bio Raw!&nbsp;♥️🌱</span><span class="eapps-testimonials-slider-page-item-text-read-more">Read more</span></div></div>
    

    
        <div class="eapps-testimonials-slider-page-item-author-container">
            
                <div class="eapps-testimonials-slider-page-item-author-picture-container">
                    <img src="https://files.elfsight.com/storage/4944cbdb-f550-47cf-8cad-eb97cb853d98/acbcaf27-0619-4121-ad20-c2f0ad1e2b1d.jpeg" class="eapps-testimonials-slider-page-item-author-picture" eapps-link="picture">
                </div>
            

            
                <div class="eapps-testimonials-slider-page-item-author" eapps-link="author"><div class="eapps-testimonials-slider-page-item-author-info">
    
        
            <a class="eapps-testimonials-slider-page-item-author-info-name-link" href="https://www.facebook.com/dauclair435?__tn__=%2CdlC-R-R&amp;eid=ARDa-tX-Wx41J5aIuzPFzZpF92A3Zo3ew3Y2tlKHrnWKZBcbEXVq-354whXZTmyuu-voR-ogdYkYJyGm&amp;hc_ref=ARQ3IHq2wBZabe1FqMQco6Lvku313t_Pmn09aDqd-cFswrEZk4l3A7t7c33nplcJyK0" rel="nofollow" title="https://www.facebook.com/dauclair435?__tn__=%2CdlC-R-R&amp;eid=ARDa-tX-Wx41J5aIuzPFzZpF92A3Zo3ew3Y2tlKHrnWKZBcbEXVq-354whXZTmyuu-voR-ogdYkYJyGm&amp;hc_ref=ARQ3IHq2wBZabe1FqMQco6Lvku313t_Pmn09aDqd-cFswrEZk4l3A7t7c33nplcJyK0" target="_blank">
        
                <span class="eapps-testimonials-slider-page-item-author-info-name">Debbie Lynn</span>
        
                <span class="eapps-testimonials-slider-page-item-author-info-name-link-icon-vk eapps-testimonials-slider-page-item-author-info-name-link-icon"></span>
            </a>
        
    

    

    
            
    
</div></div>
            
        </div>
    

</div><div class="eapps-testimonials-slider-page-item-small-balloon eapps-testimonials-slider-page-item post-breakpoint-280 eapps-testimonials-slider-page-item-image-portrait" style="width: calc(25% - 32px); margin: 24px 16px;">
    
        <div class="eapps-testimonials-slider-page-item-text" eapps-link="text">
            
                <div class="eapps-testimonials-slider-page-item-rating-container" eapps-link="rating"><div class="eapps-testimonials-slider-page-item-rating">
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
</div></div>
            
        <div class="eapps-testimonials-slider-page-item-text-shorter-container"><span class="eapps-testimonials-slider-page-item-text-shorter" style="height: 48px;">My favourite of all time meals and meal delivery</span></div></div>
    

    
        <div class="eapps-testimonials-slider-page-item-author-container">
            
                <div class="eapps-testimonials-slider-page-item-author-picture-container">
                    <img src="https://files.elfsight.com/storage/4944cbdb-f550-47cf-8cad-eb97cb853d98/3099a266-1541-4e44-ae3b-a73b2331a112.png" class="eapps-testimonials-slider-page-item-author-picture" eapps-link="picture">
                </div>
            

            
                <div class="eapps-testimonials-slider-page-item-author" eapps-link="author"><div class="eapps-testimonials-slider-page-item-author-info">
    
        
            <a class="eapps-testimonials-slider-page-item-author-info-name-link" href="https://www.google.com/maps/contrib/100685381744503456327/reviews?hl=en-CA&amp;sa=X&amp;ved=2ahUKEwj574e0g5rlAhXDqZ4KHfRAB6cQvvQBegQIARA1" rel="nofollow" title="https://www.google.com/maps/contrib/100685381744503456327/reviews?hl=en-CA&amp;sa=X&amp;ved=2ahUKEwj574e0g5rlAhXDqZ4KHfRAB6cQvvQBegQIARA1" target="_blank">
        
                <span class="eapps-testimonials-slider-page-item-author-info-name">Jully Black</span>
        
                <span class="eapps-testimonials-slider-page-item-author-info-name-link-icon-undefined eapps-testimonials-slider-page-item-author-info-name-link-icon"></span>
            </a>
        
    

    

    
            
    
</div></div>
            
        </div>
    

</div><div class="eapps-testimonials-slider-page-item-small-balloon eapps-testimonials-slider-page-item post-breakpoint-280 eapps-testimonials-slider-page-item-image-portrait" style="width: calc(25% - 32px); margin: 24px 16px;">
    
        <div class="eapps-testimonials-slider-page-item-text" eapps-link="text">
            
                <div class="eapps-testimonials-slider-page-item-rating-container" eapps-link="rating"><div class="eapps-testimonials-slider-page-item-rating">
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
</div></div>
            
        <div class="eapps-testimonials-slider-page-item-text-shorter-container"><span class="eapps-testimonials-slider-page-item-text-shorter" style="height: 120px;">BIORAW salads and bowls are seriously addictive. I order them weekly. The company offers free delivery both to home and office and I can say with genuine honesty that i feel AMAZING since I've started eating them. I am energized, losing weight and feel healthier than I ever have! They are so delicious that I literally cannot wait until my next meal so I can eat another one!</span><span class="eapps-testimonials-slider-page-item-text-read-more">Read more</span></div></div>
    

    
        <div class="eapps-testimonials-slider-page-item-author-container">
            
                <div class="eapps-testimonials-slider-page-item-author-picture-container">
                    <img src="https://files.elfsight.com/storage/4944cbdb-f550-47cf-8cad-eb97cb853d98/f87c157f-f264-4807-9ab1-64ee1c9f1b9f.jpeg" class="eapps-testimonials-slider-page-item-author-picture" eapps-link="picture">
                </div>
            

            
                <div class="eapps-testimonials-slider-page-item-author" eapps-link="author"><div class="eapps-testimonials-slider-page-item-author-info">
    
        
            <a class="eapps-testimonials-slider-page-item-author-info-name-link" href="https://www.facebook.com/tara.resnick?__tn__=%2CdlC-R-R&amp;eid=ARBklmOSN9565XinJhF987RZnaRiF1_X_6AeWQKW1EylUriw_PdRCK5SWYUjUZslWnlJqCA7XnFCa_J0&amp;hc_ref=ARTQK-owLurvHZyjKkBRC-RA0PkXBCSRZiqY263LmmGmTfviObQS9ccVEJoyIzRZCBs" rel="nofollow" title="https://www.facebook.com/tara.resnick?__tn__=%2CdlC-R-R&amp;eid=ARBklmOSN9565XinJhF987RZnaRiF1_X_6AeWQKW1EylUriw_PdRCK5SWYUjUZslWnlJqCA7XnFCa_J0&amp;hc_ref=ARTQK-owLurvHZyjKkBRC-RA0PkXBCSRZiqY263LmmGmTfviObQS9ccVEJoyIzRZCBs" target="_blank">
        
                <span class="eapps-testimonials-slider-page-item-author-info-name">Tara Resnick</span>
        
                <span class="eapps-testimonials-slider-page-item-author-info-name-link-icon-facebook eapps-testimonials-slider-page-item-author-info-name-link-icon"></span>
            </a>
        
    

    

    
            
    
</div></div>
            
        </div>
    

</div></div><div class="eapps-testimonials-slider-page eapps-testimonials-slider-slider-item eui-slider-slide eui-slider-slide-clone"><div class="eapps-testimonials-slider-page-item-small-balloon eapps-testimonials-slider-page-item post-breakpoint-280" style="width: calc(25% - 32px); margin: 24px 16px;">
    
        <div class="eapps-testimonials-slider-page-item-text" eapps-link="text">
            
                <div class="eapps-testimonials-slider-page-item-rating-container" eapps-link="rating"><div class="eapps-testimonials-slider-page-item-rating">
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
</div></div>
            
        <div class="eapps-testimonials-slider-page-item-text-shorter-container"><span class="eapps-testimonials-slider-page-item-text-shorter">Love these bowls - they're super convenient, organic, nutrient-dense, and delicious. Everything about these salads and their service is so thoughtful and above and beyond - If I could give them more than 5 stars I would!</span><span class="eapps-testimonials-slider-page-item-text-read-more">Read more</span></div></div>
    

    
        <div class="eapps-testimonials-slider-page-item-author-container">
            
                <div class="eapps-testimonials-slider-page-item-author-picture-container">
                    <img src="https://files.elfsight.com/storage/4944cbdb-f550-47cf-8cad-eb97cb853d98/56d20b13-a57f-4f2f-a2c7-08210815209d.jpeg" class="eapps-testimonials-slider-page-item-author-picture" eapps-link="picture">
                </div>
            

            
                <div class="eapps-testimonials-slider-page-item-author" eapps-link="author"><div class="eapps-testimonials-slider-page-item-author-info">
    
        
            <a class="eapps-testimonials-slider-page-item-author-info-name-link" href="https://www.facebook.com/thatsmegtastic?__tn__=%2CdlC-R-R&amp;eid=ARAM17_WmTGUghMFOmCE0qiqJMJ_0fOCWzCZtfHRDXLK0-v0vghMvW5xUwf1LxJftkPWzUkuh4LvcvGV&amp;hc_ref=ARRh_H9njITHAbymkBCG3lwhCWaVfqCGURHlOalfL-9NhIs-7J70QAnEL6aoiOR5Ig8" rel="nofollow" title="https://www.facebook.com/thatsmegtastic?__tn__=%2CdlC-R-R&amp;eid=ARAM17_WmTGUghMFOmCE0qiqJMJ_0fOCWzCZtfHRDXLK0-v0vghMvW5xUwf1LxJftkPWzUkuh4LvcvGV&amp;hc_ref=ARRh_H9njITHAbymkBCG3lwhCWaVfqCGURHlOalfL-9NhIs-7J70QAnEL6aoiOR5Ig8" target="_blank">
        
                <span class="eapps-testimonials-slider-page-item-author-info-name">Megan Khosroshahi</span>
        
                <span class="eapps-testimonials-slider-page-item-author-info-name-link-icon-facebook eapps-testimonials-slider-page-item-author-info-name-link-icon"></span>
            </a>
        
    

    

    
            
    
</div></div>
            
        </div>
    

</div><div class="eapps-testimonials-slider-page-item-small-balloon eapps-testimonials-slider-page-item post-breakpoint-280" style="width: calc(25% - 32px); margin: 24px 16px;">
    
        <div class="eapps-testimonials-slider-page-item-text" eapps-link="text">
            
                <div class="eapps-testimonials-slider-page-item-rating-container" eapps-link="rating"><div class="eapps-testimonials-slider-page-item-rating">
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
</div></div>
            
        <div class="eapps-testimonials-slider-page-item-text-shorter-container"><span class="eapps-testimonials-slider-page-item-text-shorter">Bio Raw salads are incredible, and the delivery option is an added bonus! I’m hooked! Also love the convenience for travel, as I always travel with my food. Thank you Bio Raw for serving up healthy in such an amazing and tasty way!</span><span class="eapps-testimonials-slider-page-item-text-read-more">Read more</span></div></div>
    

    
        <div class="eapps-testimonials-slider-page-item-author-container">
            
                <div class="eapps-testimonials-slider-page-item-author-picture-container">
                    <img src="https://files.elfsight.com/storage/4944cbdb-f550-47cf-8cad-eb97cb853d98/4e0abb90-c661-498c-bdea-ee5a41515747.png" class="eapps-testimonials-slider-page-item-author-picture" eapps-link="picture">
                </div>
            

            
                <div class="eapps-testimonials-slider-page-item-author" eapps-link="author"><div class="eapps-testimonials-slider-page-item-author-info">
    
        
            <a class="eapps-testimonials-slider-page-item-author-info-name-link" href="https://www.google.com/maps/contrib/100659870094329296406/reviews?hl=en-CA&amp;sa=X&amp;ved=2ahUKEwjvyMaDg5rlAhWCpZ4KHaYXBygQvvQBegQIARBe" rel="nofollow" title="https://www.google.com/maps/contrib/100659870094329296406/reviews?hl=en-CA&amp;sa=X&amp;ved=2ahUKEwjvyMaDg5rlAhWCpZ4KHaYXBygQvvQBegQIARBe" target="_blank">
        
                <span class="eapps-testimonials-slider-page-item-author-info-name">Nkechi Nwafor-Robinson</span>
        
                <span class="eapps-testimonials-slider-page-item-author-info-name-link-icon-undefined eapps-testimonials-slider-page-item-author-info-name-link-icon"></span>
            </a>
        
    

    

    
            
    
</div></div>
            
        </div>
    

</div><div class="eapps-testimonials-slider-page-item-small-balloon eapps-testimonials-slider-page-item post-breakpoint-280" style="width: calc(25% - 32px); margin: 24px 16px;">
    
        <div class="eapps-testimonials-slider-page-item-text" eapps-link="text">
            
                <div class="eapps-testimonials-slider-page-item-rating-container" eapps-link="rating"><div class="eapps-testimonials-slider-page-item-rating">
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
</div></div>
            
        <div class="eapps-testimonials-slider-page-item-text-shorter-container"><span class="eapps-testimonials-slider-page-item-text-shorter">Myself and the people I work with are ordering so many salads a week from BIORAW and everyone is hooked!</span><span class="eapps-testimonials-slider-page-item-text-read-more">Read more</span></div></div>
    

    
        <div class="eapps-testimonials-slider-page-item-author-container">
            
                <div class="eapps-testimonials-slider-page-item-author-picture-container">
                    <img src="https://files.elfsight.com/storage/4944cbdb-f550-47cf-8cad-eb97cb853d98/c9cc87ca-4666-493d-8193-4c1b5cdceafb.jpeg" class="eapps-testimonials-slider-page-item-author-picture" eapps-link="picture">
                </div>
            

            
                <div class="eapps-testimonials-slider-page-item-author" eapps-link="author"><div class="eapps-testimonials-slider-page-item-author-info">
    
        
            <a class="eapps-testimonials-slider-page-item-author-info-name-link" href="https://www.facebook.com/donny.rose?__tn__=%2CdlC-R-R&amp;eid=ARCBf6dgUeGCbKCgJZRVbxSIqFeL43skNKLXlxo5aDFzTKAv6SqSKf3a0V5p7Jp2RRoKCCfs0z3Kd6Bg&amp;hc_ref=ARTuzsPbNFVPh8IUn0nGzJrco_WCHQ-eyvXVYthacmhbwPUUhpy9flU0-qFRRYIGgmQ" rel="nofollow" title="https://www.facebook.com/donny.rose?__tn__=%2CdlC-R-R&amp;eid=ARCBf6dgUeGCbKCgJZRVbxSIqFeL43skNKLXlxo5aDFzTKAv6SqSKf3a0V5p7Jp2RRoKCCfs0z3Kd6Bg&amp;hc_ref=ARTuzsPbNFVPh8IUn0nGzJrco_WCHQ-eyvXVYthacmhbwPUUhpy9flU0-qFRRYIGgmQ" target="_blank">
        
                <span class="eapps-testimonials-slider-page-item-author-info-name">Donny Rose</span>
        
                <span class="eapps-testimonials-slider-page-item-author-info-name-link-icon-facebook eapps-testimonials-slider-page-item-author-info-name-link-icon"></span>
            </a>
        
    

    

    
            
    
</div></div>
            
        </div>
    

</div><div class="eapps-testimonials-slider-page-item-small-balloon eapps-testimonials-slider-page-item post-breakpoint-280" style="width: calc(25% - 32px); margin: 24px 16px;">
    
        <div class="eapps-testimonials-slider-page-item-text" eapps-link="text">
            
                <div class="eapps-testimonials-slider-page-item-rating-container" eapps-link="rating"><div class="eapps-testimonials-slider-page-item-rating">
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
        <div class="eapps-testimonials-slider-page-item-rating-item eapps-testimonials-slider-page-item-rating-item-colored">
            <svg width="14px" height="14px">
                <path d="M14,5.4c-0.1-0.2-0.3-0.4-0.5-0.4L9.4,4.4L7.6,0.7C7.5,0.4,7.2,0.3,7,0.3c-0.2,0-0.5,0.1-0.6,0.4L4.6,4.4L0.5,4.9
                C0.3,5,0.1,5.1,0,5.4C0,5.6,0,5.9,0.2,6l2.9,2.9l-0.7,4c0,0.2,0.1,0.5,0.3,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1L7,11.7
                l3.6,1.9c0.1,0,0.2,0.1,0.3,0.1c0,0,0,0,0,0c0.4,0,0.6-0.3,0.6-0.6c0,0,0-0.1,0-0.1l-0.7-4L13.8,6C14,5.9,14,5.6,14,5.4z"></path>
            </svg>
        </div>
    
</div></div>
            
        <div class="eapps-testimonials-slider-page-item-text-shorter-container"><span class="eapps-testimonials-slider-page-item-text-shorter">Salads are the best I've had. They are fresh, crisp and clean. They don't have that funny smell that some prepackaged salads have, so you know there isn't that weird pre-washed chemical or preservative or whatever it is that most companies use on their prepackaged salads. It is delicious and the variety is great. Also, like the fact that the plastic container it comes in is compostable. So I order the salads without feeling guilty that I'm adding to the world's plastic dilemma. I'm healthy and the earth is a better place. I only wish that all companies and businesses would follow BioRaw's example of responsibility to our planet. You can have a successful business based on integrity.&nbsp;</span><span class="eapps-testimonials-slider-page-item-text-read-more">Read more</span></div></div>
    

    
        <div class="eapps-testimonials-slider-page-item-author-container">
            
                <div class="eapps-testimonials-slider-page-item-author-picture-container">
                    <img src="https://files.elfsight.com/storage/4944cbdb-f550-47cf-8cad-eb97cb853d98/dc0f9f73-3d00-4cf8-9f52-b73a73bbbde7.png" class="eapps-testimonials-slider-page-item-author-picture" eapps-link="picture">
                </div>
            

            
                <div class="eapps-testimonials-slider-page-item-author" eapps-link="author"><div class="eapps-testimonials-slider-page-item-author-info">
    
        
            <a class="eapps-testimonials-slider-page-item-author-info-name-link" href="https://www.google.com/maps/contrib/108231543824182291737/reviews?hl=en-CA&amp;sa=X&amp;ved=2ahUKEwj574e0g5rlAhXDqZ4KHfRAB6cQvvQBegQIARA8" rel="nofollow" title="https://www.google.com/maps/contrib/108231543824182291737/reviews?hl=en-CA&amp;sa=X&amp;ved=2ahUKEwj574e0g5rlAhXDqZ4KHfRAB6cQvvQBegQIARA8" target="_blank">
        
                <span class="eapps-testimonials-slider-page-item-author-info-name">R Tso</span>
        
                <span class="eapps-testimonials-slider-page-item-author-info-name-link-icon-undefined eapps-testimonials-slider-page-item-author-info-name-link-icon"></span>
            </a>
        
    

    
        <div class="eapps-testimonials-slider-page-item-author-info-caption">Local Guide</div>
    

    
            
    
</div></div>
            
        </div>
    

</div></div></div>

        <div class="eui-slider-dots">
            <div class="eui-slider-dots-inner"></div>
        </div>

        <div class="eapps-testimonials-slider-slider-prev eapps-testimonials-slider-slider-nav eui-slider-arrow-prev eui-slider-arrow eui-slider-arrow-enabled">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="38" height="38" viewBox="0 0 38 38">
                <defs>
                    <path id="prev-a" d="M25.8270723,17.3333333 L20.5802028,12.0864638 C20.1028954,11.6091564 20.1028954,10.8352881 20.5802028,10.3579806 C21.0575103,9.88067313 21.8313786,9.88067313 22.3086861,10.3579806 L29.6420194,17.6913139 C30.1193269,18.1686214 30.1193269,18.9424897 29.6420194,19.4197972 L22.3086861,26.7531305 C21.8313786,27.230438 21.0575103,27.230438 20.5802028,26.7531305 C20.1028954,26.275823 20.1028954,25.5019547 20.5802028,25.0246473 L25.8270723,19.7777778 L9.22222222,19.7777778 C8.54720753,19.7777778 8,19.2305702 8,18.5555556 C8,17.8805409 8.54720753,17.3333333 9.22222222,17.3333333 L25.8270723,17.3333333 Z"></path>
                </defs>
                <g fill-rule="evenodd">
                    <use fill-rule="nonzero" transform="matrix(-1 0 0 1 38 0)" xlink:href="#prev-a"></use>
                </g>
            </svg>
        </div>

        <div class="eapps-testimonials-slider-slider-next eapps-testimonials-slider-slider-nav eui-slider-arrow-next eui-slider-arrow eui-slider-arrow-enabled">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="38" height="38" viewBox="0 0 38 38">
                <defs>
                    <path id="next-a" d="M25.8270723,17.3333333 L20.5802028,12.0864638 C20.1028954,11.6091564 20.1028954,10.8352881 20.5802028,10.3579806 C21.0575103,9.88067313 21.8313786,9.88067313 22.3086861,10.3579806 L29.6420194,17.6913139 C30.1193269,18.1686214 30.1193269,18.9424897 29.6420194,19.4197972 L22.3086861,26.7531305 C21.8313786,27.230438 21.0575103,27.230438 20.5802028,26.7531305 C20.1028954,26.275823 20.1028954,25.5019547 20.5802028,25.0246473 L25.8270723,19.7777778 L9.22222222,19.7777778 C8.54720753,19.7777778 8,19.2305702 8,18.5555556 C8,17.8805409 8.54720753,17.3333333 9.22222222,17.3333333 L25.8270723,17.3333333 Z"></path>
                </defs>
                <g fill-rule="evenodd">
                    <use fill-rule="nonzero" xlink:href="#next-a"></use>
                </g>
            </svg>

        </div>
    </div>
</div></div>
    </div>
</div><style>
    
        #eapps-testimonials-slider-1 .eapps-testimonials-slider-page-item-text {
            text-align: center;
        }
    

    

    
        #eapps-testimonials-slider-1 .eapps-testimonials-slider-page-item-rating-item-colored svg{
            fill: rgb(174, 209, 37);
        }
    

    
        #eapps-testimonials-slider-1 .eapps-testimonials-slider-page-item-single-postcard:before,
        #eapps-testimonials-slider-1 .eapps-testimonials-slider-page-item-tiled-postcard .eapps-testimonials-slider-page-item-author-container:before,
        #eapps-testimonials-slider-1 .eapps-testimonials-slider-page-item-text:before {
            background-color: rgba(255, 255, 255, 0);
            opacity: 1;
        }

         #eapps-testimonials-slider-1 .eapps-testimonials-slider-page-item-small-balloon .eapps-testimonials-slider-page-item-text:after {
            border-color: rgba(255, 255, 255, 0) transparent transparent transparent;
            opacity: 1;
        }
    

    

    
</style><style></style></div>
        </div>
      </div>

    </div>
  </div>
</section>

{% section 'text-and-image' %}

{% section 'frequently-asked-questions' %}

{% section 'newsletter' %}

{% section 'footer-logos' %}