{{ 'devst-styles.css' | asset_url | stylesheet_tag }}
<div class="dashed small--hide"></div>
<div id="how-it-works">
{% section 'cascade-how-it-works-1' %}
{% section 'cascade-how-it-works-2' %}
{% section 'cascade-how-it-works-3' %}
{% section 'page-how-it-works-sections-template' %}
</div>